In [9]:
fp=open("D:\\hello.txt")

In [14]:
data=fp.readline()

In [15]:
data

'Hello Ayush Khandelwal'

In [16]:
fp.close()

In [13]:
fp=open("D:\\hello.txt")

In [17]:
fp.closed

True

In [1]:
fp=open("D:\\detail.txt","r+")

In [2]:
data=fp.readlines()

In [3]:
data

['Name\tAge\tcity \tphoneno\n',
 'Ayush\t19\tJaipur\t12345\n',
 'Yogesh\t19\tJaipur\t78901\n',
 'Gaurav\t19\tJaipur\t56789']

In [4]:
fp.seek(0)

0

In [5]:
fp.write("".join(data))

90

In [6]:
fp.seek(0)

0

In [24]:
data

['Name\tAge\tcity \tphoneno\n',
 'Ayush\t19\tJaipur\t12345\n',
 'Yogesh\t19\tJaipur\t78901\n',
 'Gaurav\t19\tJaipur\t56789']

In [25]:
fp.close()

In [9]:
print(data)

Name	Age	city 	phoneno
Ayush	19	Jaipur	12345
Yogesh	19	Jaipur	78901
Gaurav	19	Jaipur	56789

In [8]:
data=fp.read()

In [10]:
fp.write("\nRam\t26\tJaipur\t123")

18

In [11]:
fp.close()

In [15]:
fp = open("D://detail.txt","r+")

In [16]:
data = fp.readlines()

In [17]:
data

['Name\tAge\tcity \tphoneno\n',
 'Ayush\t19\tJaipur\t12345\n',
 'Yogesh\t19\tJaipur\t78901\n',
 'Gaurav\t19\tJaipur\t56789\n',
 'Ram\t26\tJaipur\t123']

In [18]:
send = 'Ram\t26\tJaipur\t123\n'

In [19]:
data.insert(1,'Ram\t26\tJaipur\t123\n')

In [20]:
data

['Name\tAge\tcity \tphoneno\n',
 'Ram\t26\tJaipur\t123\n',
 'Ayush\t19\tJaipur\t12345\n',
 'Yogesh\t19\tJaipur\t78901\n',
 'Gaurav\t19\tJaipur\t56789\n',
 'Ram\t26\tJaipur\t123']

In [21]:
data = "".join(data)

In [22]:
data

'Name\tAge\tcity \tphoneno\nRam\t26\tJaipur\t123\nAyush\t19\tJaipur\t12345\nYogesh\t19\tJaipur\t78901\nGaurav\t19\tJaipur\t56789\nRam\t26\tJaipur\t123'

In [23]:
fp.seek(0)

0

In [24]:
fp.write(data)

126

In [25]:
fp.seek(0)

0

In [26]:
data=fp.readlines()

In [27]:
data

['Name\tAge\tcity \tphoneno\n',
 'Ram\t26\tJaipur\t123\n',
 'Ayush\t19\tJaipur\t12345\n',
 'Yogesh\t19\tJaipur\t78901\n',
 'Gaurav\t19\tJaipur\t56789\n',
 'Ram\t26\tJaipur\t123']

In [28]:
fp.seek(0)

0

In [29]:
fp.write("".join(data))

126

In [30]:
fp.close()

In [36]:
def coladd(l):
    for var in l:
        l[l.index(var)]=var[:-1]+"\t\t"+input("Enter Value for col")+"\n"
    return l

In [37]:
coladd(data)

Enter Value for colmarks
Enter Value for col10
Enter Value for col20
Enter Value for col30
Enter Value for col40
Enter Value for col50

['Name\tAge\tcity \tphoneno\t\tMarks\t\tmarks\n',
 'Ram\t26\tJaipur\t123\t\t10\t\t10\n',
 'Ayush\t19\tJaipur\t12345\t\t20\t\t20\n',
 'Yogesh\t19\tJaipur\t78901\t\t30\t\t30\n',
 'Gaurav\t19\tJaipur\t56789\t\t40\t\t40\n',
 'Ram\t26\tJaipur\t12\t\t50\t\t50\n']

In [19]:
data

NameError: name 'data' is not defined

In [42]:
print(*data)

Name	Age	city 	phoneno		Marks		marks
 Ram	26	Jaipur	123		10		10
 Ayush	19	Jaipur	12345		20		20
 Yogesh	19	Jaipur	78901		30		30
 Gaurav	19	Jaipur	56789		40		40
 Ram	26	Jaipur	12		50		50

In [17]:
fp = open("D://detail.txt","r+")

In [18]:
fp.write("".join(data))

NameError: name 'data' is not defined

In [45]:
fp.close()

In [20]:
fp = open("D:\\hi.py","w+")

In [21]:
fp.write("print('Welcome to the world of python')")

39

In [22]:
fp.close()

In [34]:
fp=open("D:\\ayush.txt","w+")

In [35]:
fp.write('Hello To The')

12

In [36]:
fp.close()

In [37]:
f=open("D://ayush.txt","a")
f.write("World of python")
f.close()

In [38]:
f=open("D:\\ayush.txt")

In [39]:
f.close()

In [1]:
def test():
    for var in range(10):
        r=yield var
        print(r)

In [2]:
a=test()

In [3]:
next(a)

0

In [4]:
next(a)

None

1

In [5]:
a.send(40)

40

2

In [6]:
next(a)

None

3

In [7]:
def test():
    for var in range(10):
        r=(yield var)+10
        print(r)

In [8]:
a=test()

In [10]:
next(a)

0

In [11]:
next(a)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [12]:
def test():
    for var in range(10):
        r=(yield var)+10
        print(r)

In [13]:
a=test()

In [14]:
next(a)

0

In [15]:
a.send(50)

60

1