## Bit-Wise Operators

In [1]:
hex(2)

'0x2'

In [2]:
int('2',base=16)

2

In [7]:
int('2',base=8)

2

In [4]:
int('1234',base=16)

4660

In [9]:
bin(2)

'0b10'

In [6]:
bin(16)

'0b10000'

In [12]:
def print_formatted(number):
    width = len("{0:b}".format(n))
    for i in range(1,n+1):
        print ("{0:{width}d} {0:{width}o} {0:{width}X} {0:{width}b}".format(i, width=width))
        
n = int(input())
print_formatted(n)

17
    1     1     1     1
    2     2     2    10
    3     3     3    11
    4     4     4   100
    5     5     5   101
    6     6     6   110
    7     7     7   111
    8    10     8  1000
    9    11     9  1001
   10    12     A  1010
   11    13     B  1011
   12    14     C  1100
   13    15     D  1101
   14    16     E  1110
   15    17     F  1111
   16    20    10 10000
   17    21    11 10001

In [7]:
bin(14)

'0b1110'

In [8]:
bin(13)

'0b1101'

In [9]:
bin(10)

'0b1010'

In [5]:
16 | 14

30

In [10]:
13 | 10

15

In [11]:
13 & 10

8

In [12]:
16 & 14

0

In [13]:
15 >> 2

3

In [14]:
12 << 3

96

## Arithmetic Operators

In [15]:
5+6

11

In [16]:
9-4

5

In [17]:
9*3

27

In [18]:
"Hello" + "World"

'HelloWorld'

In [21]:
"Hello" * "World"

TypeError: can't multiply sequence by non-int of type 'str'

In [22]:
"Hello" * 3

'HelloHelloHello'

In [23]:
10 / 4

2.5

In [24]:
10 // 4

2

In [25]:
10 % 4

2

### Comparison Operator

In [26]:
10 == 10

True

In [27]:
10 >16

False

In [28]:
10 <7

False

In [29]:
7 <10

True

In [30]:
10 <= 10

True

In [31]:
15 >= 15

True

In [42]:
10 != 5

True

In [32]:
"Hello" < "World"

True

In [33]:
"abC" > "abc"

False

In [38]:
"Hello " > "Hello"

True

In [39]:
" Hello" < "Hello"

True

In [41]:
"cba" > "cab"

True

### Logical Operators

In [43]:
0 and 5

0

In [44]:
def fun():
    print("Hello World")
    return 'Hi Python'
4 < 5 and fun()

Hello World

'Hi Python'

In [45]:
def fun():
    print("Hello World")
    return 'Hi Python'
4 > 5 and fun()

False

In [46]:
5 and 6

6

In [47]:
3<4 and 5>6

False

In [49]:
3 < 4 or 5 > 6

True

In [50]:
3 or 4

3

In [51]:
3 or 0

3

In [52]:
0 or 3

3

In [53]:
def fun():
    print("Hello World")
    return 'Hi Python'
4 > 5 or fun()

Hello World

'Hi Python'

In [54]:
5 not 6

SyntaxError: invalid syntax (<ipython-input-54-2b28e4fe08b5>, line 1)

In [55]:
5 != 6

True

### Membership Operator

In [57]:
l = ['c','c++','java','python']

In [58]:
'c' in l

True

In [59]:
'java' not in l

False

In [60]:
d={'language' : ['c','java','python'],'key' : 'value'}

In [61]:
'language' in d

True

In [62]:
'java' in d

False

In [63]:
'java' in d.values()

False

In [64]:
['c','java','python'] in d.values()

True

### Identity Opertors

In [73]:
x=5

In [74]:
y=5

In [75]:
print(id(x))
print(id(y))

140720544003024
140720544003024

In [76]:
x is y

True

In [77]:
x=123456
y=123456

In [78]:
x is y

False

In [79]:
print(id(x))
print(id(y))

2237843474736
2237843475088

In [80]:
"Hello" is "Hello"

True

In [81]:
"Hello world" is "Hello world"

True

In [95]:
x = "hello world"
y = "hello world"

In [96]:
x is y # false due to spaces

False

### Assignment Operators

In [82]:
a=5

In [83]:
b=a

In [84]:
b

5

In [97]:
a=5
b=6

In [98]:
print(a,b)

5 6

tuple unpacking

In [86]:
b,a = a,b
print(a,b)

6 5

In [87]:
a=5
b=6
t=a
a=b
b=t
print(a,b)

6 5

In [88]:
c = 10
d = 20
c = c+d # c=30
d = c-d # d=10
c = c-d # c=20
print(c,d)

20 10

In [89]:
print(c)
print(d)

20
10

In [90]:
c +=10
c /=3
print(c)

10.0

In [91]:
d **=3

In [92]:
print(d)

1000

In [93]:
d

1000

In [94]:
c

10.0