In [1]:
thislist=['Java','Python','Android']

In [2]:
print(thislist)

['Java', 'Python', 'Android']

In [3]:
thislist.insert(2,'Machine Learning')
print(thislist)

['Java', 'Python', 'Machine Learning', 'Android']

In [4]:
thislist[1]

'Python'

In [5]:
thislist.reverse()
print(thislist)

['Android', 'Machine Learning', 'Python', 'Java']

In [6]:
x=thislist.index('Python')
print(x)

2

In [7]:
thislist.sort()
print(thislist)

['Android', 'Java', 'Machine Learning', 'Python']

In [8]:
thislist.append([1,2,'Hello'])

In [9]:
print(thislist)

['Android', 'Java', 'Machine Learning', 'Python', [1, 2, 'Hello']]

In [10]:
thislist[4]

[1, 2, 'Hello']

In [11]:
thislist.insert(2,'World')

In [12]:
thislist

['Android', 'Java', 'World', 'Machine Learning', 'Python', [1, 2, 'Hello']]

In [13]:
thistuple=('apple','banana','cherry','guawa','apple')
print(thistuple)

('apple', 'banana', 'cherry', 'guawa', 'apple')

In [14]:
if 'apple' in thistuple:
    print("yes,apple is in thistuple")

yes,apple is in thistuple

In [15]:
for item in thistuple:
    print(item)

apple
banana
cherry
guawa
apple

In [16]:
x=thistuple.index('apple')
print(x)

0

In [17]:
thisset={'ayush','madhav','mohit'}
print(thisset)

{'mohit', 'ayush', 'madhav'}

In [18]:
for item in thisset:
    print(item)

mohit
ayush
madhav

In [19]:
print("mohit" in thisset)

True

In [20]:
thisset.add('dhoni')
print(thisset)

{'mohit', 'ayush', 'dhoni', 'madhav'}

In [21]:
thisset.update(["sachin","kohli"])
print(thisset)

{'kohli', 'dhoni', 'mohit', 'ayush', 'madhav', 'sachin'}

In [22]:
thisset.remove('n')
thisset.remove('a')
print(thisset)

KeyError: 'n'

In [23]:
thisset.remove('o')
thisset.remove('i')
thisset.remove('l')
thisset.remove('h')
thisset.remove('s')
thisset.remove('k')
thisset.remove('c')
print(thisset)

KeyError: 'o'

In [24]:
print(thisset)

{'kohli', 'dhoni', 'mohit', 'ayush', 'madhav', 'sachin'}

In [25]:
thisset1={'dhoni','orange','madhav','apple','cherry'}
z=thisset.difference(thisset1)
print(z)

{'mohit', 'ayush', 'sachin', 'kohli'}

In [26]:
y=thisset1.difference(thisset)
print(y)

{'apple', 'cherry', 'orange'}

In [27]:
x=thisset.difference_update(thisset1)
print(x)

None

In [28]:
x=thisset1.intersection(thisset)
print(x)

set()

In [29]:
x=thisset.isdisjoint(thisset1)
print(x)

True

In [30]:
sets={1,2,3,4,5,6}
print(sets)

{1, 2, 3, 4, 5, 6}

In [31]:
sets1={2,3,4,1,6,5,7,8,9,10}
print(sets1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
z=sets.issubset(sets1)
print(z)

True

In [33]:
z=sets.issuperset(sets1)
print(z)

False

In [34]:
z=sets.symmetric_difference(sets1)
print(z)

{7, 8, 9, 10}

In [35]:
z=thisset.union(thisset1)
print(z)

{'apple', 'kohli', 'madhav', 'dhoni', 'mohit', 'cherry', 'ayush', 'orange', 'sachin'}

In [36]:
z=sets.union(sets1)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [1]:
thisdict =	{
  "year": "second",
  "branch": "IT",
  "section": "A"
}
print(thisdict)

{'year': 'second', 'branch': 'IT', 'section': 'A'}

In [2]:
x=thisdict["branch"]
print(x)

IT

In [3]:
thisdict["year"]="third"

In [4]:
print(thisdict)

{'year': 'third', 'branch': 'IT', 'section': 'A'}

In [5]:
for details in thisdict:
    print(details)

year
branch
section

In [6]:
for x in thisdict:
    print(thisdict[x])

third
IT
A

In [7]:
for x in thisdict.values():
    print(x)

third
IT
A

In [8]:
for x,y in thisdict.items():
    print(x,y)

year third
branch IT
section A

In [9]:
a=thisdict.items()

In [10]:
a

dict_items([('year', 'third'), ('branch', 'IT'), ('section', 'A')])

In [11]:
thisdict.get('year')

'third'

In [12]:
b=thisdict.setdefault("year",'second')
print(b)

third

In [16]:
thisdict.update({'name':'Ayush'})
print(thisdict)

{'year': 'third', 'branch': 'IT', 'section': 'A', 'name': 'Ayush'}

In [17]:
'name' in thisdict

True

In [18]:
'IT' in thisdict.values()

True

In [45]:
x = ('key1', 'key2', 'key3')
y = 2

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 2, 'key2': 2, 'key3': 2}

In [46]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [47]:
car.pop('model')
print(car)

{'brand': 'Ford', 'year': 1964}

In [48]:
x = car.setdefault("model", "Bronco")

print(x)

Bronco

In [50]:
car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'year': 1964, 'model': 'Bronco', 'color': 'White'}

In [51]:
'brand' in car

True

In [52]:
1964 in car.values()

True

In [53]:
car.values()

dict_values(['Ford', 1964, 'Bronco', 'White'])

In [56]:
for x in car.values():
    print(x)

Ford
1964
Bronco
White

In [57]:
x=car.items()
print(x)

dict_items([('brand', 'Ford'), ('year', 1964), ('model', 'Bronco'), ('color', 'White')])

In [60]:
for x,y in car.items():
    print(x,y)

brand Ford
year 1964
model Bronco
color White

In [61]:
car.copy()

{'brand': 'Ford', 'year': 1964, 'model': 'Bronco', 'color': 'White'}

In [62]:
car.pop('model')

'Bronco'

In [63]:
car

{'brand': 'Ford', 'year': 1964, 'color': 'White'}

In [65]:
car['model']='Bronco'

In [66]:
car

{'brand': 'Ford', 'year': 1964, 'color': 'White', 'model': 'Bronco'}

In [45]:
1,4,9,...,100

(1, 4, 9, Ellipsis, 100)

In [46]:
squares=[]

In [47]:
for i in range(1,11):
    squares.append(i*i)

In [55]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [62]:
squares_with_comp=[i*i for i in range(1,11)]

In [63]:
squares_with_comp

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
x=50
y=34
if x>y:
    print("x is greater than y")

x is greater than y

In [77]:
a=int(input("Enter the number :"))
if(a%2==0):
  print("Even Number")
else:
  print("Odd Number")

Enter the number :5
Odd Number

In [78]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

In [79]:
a = 2
b = 330

print("A") if a > b else print("B")

B

In [80]:
a = 330
b = 330

print("A") if a > b else print("=") if a == b else print("B")

=

In [84]:
a=25
b=30
c=35
if a<b and a<c:
     print(a)

25

In [85]:
if a>b or b<c:
    print(b)

30

In [9]:
def add(a,b):
    sum=a+b;
    return sum

In [10]:
add(10,15)

25

In [1]:
n=int(input("Enter a number"))
f=1
for i in range(1,n+1):
     f=f*i
print(f)

Enter a number5
120

In [ ]:
while True:
    print("Options:")
    print("Enter 'add' to add two numbers")
    print("Enter 'subtract' to subtract two numbers")
    print("Enter 'multiply' to multiply two numbers")
    print("Enter 'divide' to divide two numbers")
    print("Enter 'quit' to end the program ")
    user_input=input(": ")
    if user_input=="quit":
        break
    elif user_input=="add":
        num1=int(input("Enter a number")) 
        num2=int(input("Enter another number"))
        result=str(num1+num2)
        print("The sum is"+result)
    elif user_input=="subtract":
        num1=int(input("Enter a number")) 
        num2=int(input("Enter another number"))
        result=str(num1-num2)
        print("The subtarction is"+result)
    
    elif user_input=="multiply":
        num1=int(input("Enter a number")) 
        num2=int(input("Enter another number"))
        result=str(num1*num2)
        print("The multiplication is \n"+result)
     
    elif user_input=="divide":
        num1=int(input("Enter a number")) 
        num2=int(input("Enter another number"))
        result=str(num1/num2)
        print("The division is"+result)
  
    else:
        print("Unknown input")

Options:
Enter 'add' to add two numbers
Enter 'subtract' to subtract two numbers
Enter 'multiply' to multiply two numbers
Enter 'divide' to divide two numbers
Enter 'quit' to end the program
: add
Enter a number5
Enter another number10
The sum is15
Options:
Enter 'add' to add two numbers
Enter 'subtract' to subtract two numbers
Enter 'multiply' to multiply two numbers
Enter 'divide' to divide two numbers
Enter 'quit' to end the program