In [1]:
print('hello python')

hello python

In [2]:
3+4

7

In [3]:
x=3

In [4]:
type(x)

int

In [5]:
3**4

81

In [6]:
y=3.5*4.5

In [7]:
3.5*4.5

15.75

In [8]:
type(15.75)

float

In [9]:
4//3

1

In [10]:
78/5

15.6

In [11]:
78%45

33

In [1]:
a=True

In [2]:
b=False

In [3]:
type(a)

bool

In [4]:
z='ayush'

In [5]:
type(z)

str

In [6]:
str123='hello'

In [7]:
str123

'hello'

In [8]:
x=45

In [9]:
type(x)

int

In [10]:
x='hello'

In [11]:
type(x)

str

In [12]:
x.capitalize()

'Hello'

In [13]:
x.upper()

'HELLO'

In [14]:
x='hello\nworld'

In [15]:
print(x)

hello
world

In [16]:
3*x

'hello\nworldhello\nworldhello\nworld'

In [17]:
x='ayush'

In [18]:
y='khandelwal'

In [19]:
x+ " " +y

'ayush khandelwal'

In [20]:
3*y

'khandelwalkhandelwalkhandelwal'

In [21]:
2*x+y

'ayushayushkhandelwal'

In [3]:
x[-1]

NameError: name 'x' is not defined

In [2]:
x[3]

NameError: name 'x' is not defined

In [24]:
y[0:8]

'khandelw'

In [25]:
len(x)

5

In [1]:
temp='hello'

In [2]:
print(temp[1])

e

In [3]:
print(temp[0])

h

In [6]:
for t in temp:
    print(t)

h
e
l
l
o

In [7]:
for item in range(1,6):
    print(item)

1
2
3
4
5

In [9]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
c=a//b
print(c)

Enter a number24
Enter a number5
4

In [1]:
x=["agra","jaipur","alwar"]
for p in x:
    print(p)

agra
jaipur
alwar

In [5]:
a=int(input("Enter  a number"))
fact = 1
  
for i in range(1,a+1): 
    fact = fact * i 
      
print (fact)

Enter  a number5
120

In [10]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 4
24

In [11]:
len(x)

3

In [13]:
x.append("bharatpur")
print(x)

['agra', 'jaipur', 'alwar', 'bharatpur', 'bharatpur']

In [17]:
x.insert(1,"Mathura")
print(x)

['agra', 'Mathura', 'Mathura', 'jaipur', 'alwar', 'bharatpur', 'bharatpur']

In [19]:
x.remove("Mathura")
print(x)

['agra', 'jaipur', 'alwar', 'bharatpur', 'bharatpur']

In [20]:
del(x[1])
print(x)

['agra', 'alwar', 'bharatpur', 'bharatpur']

In [21]:
del(x[2])
print(x)

['agra', 'alwar', 'bharatpur']

In [22]:
x.clear()
print(x)

[]

In [23]:
y=x.copy()
print(y)

[]

In [4]:
for item in range(1,20,3):
    print(item)

1
4
7
10
13
16
19

In [31]:
a=int(input("Enter a number"))
c=0
 for i in range(2, a//2):
        if(a%i==0):
            c++
            if(c==0)
            print("Not a prime number")
        else
        print("prime number")

IndentationError: unexpected indent (<ipython-input-31-c238ed71504a>, line 3)

In [32]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [33]:
first='Hello'
second='World'
third='Python'

In [35]:
type(['a','b','c'])

list

In [36]:
thislist=['Maths','Java','Python']

In [37]:
print(thislist)

['Maths', 'Java', 'Python']

In [38]:
print(thislist[1])

Java

In [39]:
thislist.append('Android')
print(thislist)

['Maths', 'Java', 'Python', 'Android']

In [40]:
del(thislist[0])
print(thislist)

['Java', 'Python', 'Android']

In [45]:
thislist.remove('Android')
print(thislist)

['Java', 'Python']

In [46]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]